:root {
  --primary-brand: #4b5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/* body */
body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

/* site nav */
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 76px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

/* adress  */
.auth-nav {
  display: flex;
  align-items: center;

}

.auth-nav .item:not(:last-child) {
  margin-right: 40px;

}








.list {
  list-style-type: none;
}


/* logo header */
.logo.link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  text-decoration: none;
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

/* adress */
.address {
  font-style: normal;
}

.nav-link {
  color: var(--dark);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link.link:hover,
.nav-link.link:focus {
  color: #404bbf;
}

.info-link.link:hover,
.info-link.link:focus {
  color: #404bbf
}

.auth-nav .info-link {
  color: var(--text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.auth-nav,
info-link.link:hover,
.auth-nav,
info-link.link:focus {
  color: #404bbf;
  line-height: 1.5;
}

/* hero */
.hero {
  background-color: var(--hero-background);
  font-family: 'Roboto', sans-serif;
}

.hero-title {
  color: var(--white-background);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  ;
}

.hero-button {
  background-color: #4D5AE5;
  color: var(--white-background);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;


}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* section */
.section {
  color: var(--dark);
}

.section-one {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.section-tho {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}

.title {
  color: var(--dark);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  background-color: var(--white-background);
}

.section-team {
  background-color: var(--light);

}

.list-sec {
  text-decoration: none;
}

.section-three {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  ;
}

.staff-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: var(--white-background);
  color: var(--dark);
}

.staff-role,
.theam {
  color: var(--text);
  background-color: var(--white-background);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */
.filter-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: var(--light);
  cursor: pointer;

}

/* portfolio */
.filter-button:hover {
  background-color: #404bbf;
  color: var(--white-background);
  text-decoration: none;
}

.filter-button:focus {
  background-color: #404bbf;
  color: var(--white-background);
  text-decoration: none;
}

.portfolio-type {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--dark);
  font-size: 20px;
  line-height: 1.2;

}

.portfolio-platform {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

/* footer */
.footer,
.footer-text,
.footer-studio {
  background-color: var(--dark);
  color: var(--light);
}

.footer-logo.link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-studio {
  color: var(--light);
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
}

.link {
  text-decoration: none;
}